# Azure OpenAI Configuration

AZURE_OPENAI_TYPE=Azure
AZURE_OPENAI_KEY=your_api_key_here
AZURE_OPENAI_VERSION=2023-05-15
AZURE_OPENAI_BASE=https://your-resource-name.openai.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME=your_deployment_name

LOG_LEVEL=INFO
LOG_DIR=logs